/* 基本設定 */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: auto;
}

/* 主格子網格 */
main {
    display: grid;
    grid-template-areas:
      "L2_U1 L1_U1 C_U1 R1_U1 R2_U1"
      "L2    L1    C    R1    R2"
      "L2_D1 L1_D1 C_D1 R1_D1 R2_D1"
      "L2_D2 L1_D2 C_D2 R1_D2 R2_D2"
      "L2_D3 L1_D3 C_D3 R1_D3 R2_D3"
      "L2_D4 L1_D4 C_D4 R1_D4 R2_D4"
      "L2_D5 L1_D5 C_D5 R1_D5 R2_D5";
    grid-template-columns: repeat(5, 100vw);
    grid-template-rows: repeat(7, 100vh);
    width: 500vw;
    height: 700vh;
    scroll-snap-type: both mandatory;
    overflow: auto;
    position: relative;
}

/* 每個格子 */
main > section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-color: #b38357;
}

/* 針對奇數序號的區塊設定背景顏色 */
main > section:nth-child(odd) {
    background: rgb(94, 64, 36);
}

/* 區塊中的字設定 */
main > section > div {
    font-size: 60px;
    color: white;
    font-weight: bold;
}

/* 左右箭頭按鈕 */
.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background: rgba(20, 65, 14, 0);
    color: white;
    font-size: 40px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* 左箭頭按鈕位置 */
.arrow.left {
    left: 20px;
}

/* 右箭頭按鈕位置 */
.arrow.right {
    right: 20px;
}
